@import "./colors.scss";

header {
  width: 100%;
  max-width: 320px;
  padding: 20px;
  background: $dark-black;
  min-height: 100%;
  h1 {
    color: $primary-color;
  }
  .active-nav {
    background: $light-black;
  }
  .nav {
    width: 100%;
    display: block;
    text-transform: capitalize;
    padding: 12px 36px;
    border-radius: 8px;
    margin: 4px;
    font-size: 15px;
    font-weight: 300;
    color: $secondary-color;
  }
  button {
    width: 100%;
    display: block;
    text-transform: capitalize;
    padding: 12px 24px;
    border-radius: 8px;
    margin: 4px;
    background: $primary-color;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
  }
}
